//- page-a.pug
extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
     include ../static/style.css

block content
      
      section#introsection
                div Welcome to Harray's Dance Academy
                div.small Eat Sleep Dance Repeat                  
      section#missionsection
                h1 Our Mission 
                div.card
                    h3 Dance Perfection
                        div.card-box
                            div.card-img
                                img(src="/static/img/1.png")

                            div.card-content
                                p This the best dance academy of the universe

                div.card
                    h3 Dance the way you like 
                         div.card-box
                            div.card-img
                                img(src="/static/img/2.png")

                            div.card-content
                                p This the best dance academy of the universe
                div.card
                    h3 Expert Teaching
                         div.card-box
                            div.card-img
                                img(src="/static/img/3.png")

                            div.card-content
                                p This the best dance academy of the universe
      section#sponsersection
                h1 Our sponser 
                div#sponsers
                      img(src="/static/img/logo1.png", alt="sponser imagae" class= "spImg")
                      img(src="/static/img/logo2.png", alt="sponser imagae" class= "spImg")
                      img(src="/static/img/logo3.png", alt="sponser imagae" class= "spImg")
                      img(src="/static/img/logo4.png", alt="sponser imagae" class= "spImg")
