  @import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
#navbar{
    background-color: rgb(224 23 23);
    padding: 14px 4px;
    font-family: 'Nerko One', cursive;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 28px;
    margin-right: 40px;

}

#logo img{
        height: 42px;
    filter: invert(1);

}

#navbar ul{
 display: flex;
 flex-direction: row;
 /* justify-content: center; */
 align-items: center;

}

#navbar li {
  list-style-type: none;
}

#navbar li a {
text-decoration: none;
padding: 7px 12px;
color: white;
font-size: 23px

}
#navbar li a:hover {
color: black;
/* font-weight: bold; */

}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
#introsection{
    background: url("../static/da.jpg") no-repeat center center /cover;
    font-family: 'Lobster', cursive;
  font-size: 45px;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 height: 420px;
 background-color: red;
 padding-bottom: 40px;
}

#introsection div.small{
  font-size: 42px;
}


#missionsection{
 height: 326px;
 background-color: white;
 width: 67%;
 margin: auto;
}
#missionsection h1{
    font-size: 36px;
    text-align: center;
    padding-top: 23px;
    font-family: 'Lobster', cursive;
}
.card{
    display: inline-block;
      margin: 23px 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 28%;
    height: 195px;
    
}

.card h3{
    text-align: center;
    margin: 15px 12px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img img{
    height: inherit;
}
.card-img {
    height: 100px;
    padding:0 1px ;
        margin: 24px 0px;
}

.card-content{
    padding:0px 10px ; 
}
.card-content p{
  font-size: 19px;
}

#sponsersection{
 height: 300px;
 background-color: rgba(255, 13, 5, 0.746);
}
#sponsersection h1{
     font-size: 36px;
    text-align: center;
    padding-top: 23px;
    font-family: 'Lobster', cursive;
}



#footer{
 height: 100px;
 background-color: black;
}

